<div class="container">
  <form [formGroup]="form" (change)="setConfiguration()">
    <div class="gamemode-selection">
      <h2>Select a gamemode</h2>

      <div class="gamemode style-radio">
        <p class="info info-precision" *ngIf="showPrecisionModeInfo">In this gamemode, you need to hit 30 targets in the least time possible, you can see in the result how many time you spent between a target hit.</p>
        <input type="radio" name="gamemode" id="precision" value="precision" formControlName="gamemode" >
        <label for="precision"><span><i class="fa-solid fa-crosshairs"></i></span> Precision speed</label>
        <button (mouseenter)="showPrecisionModeInfo = true" (mouseleave)="showPrecisionModeInfo = false">?</button>
      </div>

      <div class="gamemode style-radio">
        <p class="info info-rapid" *ngIf="showRapidModeInfo">In this game mode, you will have 15 seconds to hit as many targets as you can, at the end your score will be displayed</p>
        <input type="radio" name="gamemode" id="rapid" value="rapid" formControlName="gamemode">
        <label for="rapid"><span><i class="fa-solid fa-crosshairs"></i></span> Rapid fire</label>
        <button (mouseenter)="showRapidModeInfo = true" (mouseleave)="showRapidModeInfo = false">?</button>
      </div>

    </div>

    <div class="target-size-selection">
      <h2>Select a target size</h2>
      <div class="targets">
        <div class="input-box style-radio">
          <input type="radio" name="targetSize" id="greater" value="greater" formControlName="targetSize">
          <label for="greater"><span><i class="fa-solid fa-crosshairs"></i></span> Greater</label>
        </div>
        <div class="input-box style-radio">
          <input type="radio" name="targetSize" id="normal" value="normal" formControlName="targetSize">
          <label for="normal"><span><i class="fa-solid fa-crosshairs"></i></span> Normal</label>
        </div>
        <div class="input-box style-radio">
          <input type="radio" name="targetSize" id="smaller" value="smaller" formControlName="targetSize">
          <label for="smaller"><span><i class="fa-solid fa-crosshairs"></i></span> Smaller</label>
        </div>
        <div class="input-box style-radio">
          <input type="radio" name="targetSize" id="all" value="all" formControlName="targetSize">
          <label for="all"><span><i class="fa-solid fa-crosshairs"></i></span> All</label>
        </div>
      </div>
    </div>

    <div class="moving-target-selection">
      <h2>Enabled moving target</h2>
      <div class="input-box large-input-box style-radio">
        <input type="checkbox" id="moving" formControlName="moving">
        <label for="moving"><span><i class="fa-solid fa-crosshairs"></i></span> Enable</label>
      </div>
    </div>
  </form>
</div>
